/*================================================*/
.orange-cms .ng-select .ng-select-container {

  font-family: 'Helvetica--Neue--75', Arial, sans-serif;
  border-style: solid;
  border-width: 2px;
  border-color: #CCCCCC;
  border-radius: 0;

}

.orange-cms .ng-select.ng-select-opened > .ng-select-container {

  border-color: #000;

}

.orange-cms .ng-select .ng-select-container .ng-value-container .ng-input > input {

  font-size: 16px;
  line-height: 16px;
  font-weight: bold;

}

.orange-cms .ng-select .ng-clear-wrapper {

}
/*================================================*/
